@model FaxDev.Models.PostVedette

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PostVedette</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotosUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotosUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
